html
    head
        title Basic test file uploader
        meta(charset="UTF-8")
    body
        h1 File uploader test
        div#uploaderZone
        div#result
        script(src="static/basic.js")